body h4{
text-align: center;
font-family: cursive;
 

 }
 body input{
 	height: 40px;
 	width:65%;
 	border: 0.5px solid green;
 	margin-left: 17.5%;
 	margin-top: 10px;
 	border-radius: 1.5%;
 }
	div {
    background-color:rgb(48, 12, 44);
    width: 30%;
    height: 600px;
    border: 1px solid rgb(89, 13, 53);
    padding: 5px;
    margin: 5px;
    margin-left: 35%;
    margin-top: 20px;
    border-radius: 2%;
}
select{
	margin-top: 10px;
	width:65%;
	height: 40px;
	margin-left: 17.5%;
}
textarea{
	margin-top: 10px;
	width:65%;
	height: 40px;
	margin-left: 17.5%;
}
button{
	margin-top: 20px;
	width:40%;
	height: 40px;
	margin-left: 30%;
}

